# Virtual environment
venv/
.venv/
env/
ENV/

# Python bytecode
*.pyc
__pycache__/

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp
*~